@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:400);


.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
}

.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
}

    .display-1 > .mbr-iconfont {
        font-size: 6.8rem;
    }

.display-2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}

    .display-2 > .mbr-iconfont {
        font-size: 3.2rem;
    }

.display-3 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.75rem;
}

    .display-3 > .mbr-iconfont {
        font-size: 3.2rem;
    }

.display-4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

    .display-4 > .mbr-iconfont {
        font-size: 1.6rem;
    }

.display-5 {
    font-family: 'Kaushan Script', handwriting;
    font-size: 2rem;
}

    .display-5 > .mbr-iconfont {
        font-size: 3.2rem;
    }

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

    .display-7 > .mbr-iconfont {
        font-size: 1.6rem;
    }
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
    .display-1 {
        font-size: 3.4rem;
        font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-2 {
        font-size: 1.6rem;
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-3 {
        font-size: 1.6rem;
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-4 {
        font-size: 0.8rem;
        font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-5 {
        font-size: 1.6rem;
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: initial !important;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.cid-qBMIZDTb0R .modal-body .close {
    background: #1b1b1b;
}

    .cid-qBMIZDTb0R .modal-body .close span {
        font-style: normal;
    }

.cid-qBMIZDTb0R .carousel-inner > .active,
.cid-qBMIZDTb0R .carousel-inner > .next,
.cid-qBMIZDTb0R .carousel-inner > .prev {
    display: table;
}

.cid-qBMIZDTb0R .carousel-control .icon-next,
.cid-qBMIZDTb0R .carousel-control .icon-prev {
    margin-top: -18px;
    font-size: 40px;
    line-height: 27px;
}

.cid-qBMIZDTb0R .carousel-control:hover {
    background: #1b1b1b;
    color: #fff;
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-qBMIZDTb0R .container .carousel-control {
        margin-bottom: 0;
    }
}

.cid-qBMIZDTb0R .boxed-slider {
    position: relative;
    padding: 93px 0;
}

    .cid-qBMIZDTb0R .boxed-slider > div {
        position: relative;
    }

.cid-qBMIZDTb0R .container img {
    width: 100%;
}

    .cid-qBMIZDTb0R .container img + .row {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
    }

.cid-qBMIZDTb0R .mbr-section {
    padding: 0;
    background-attachment: scroll;
}

.cid-qBMIZDTb0R .mbr-table-cell {
    padding: 0;
}

.cid-qBMIZDTb0R .container .carousel-indicators {
    margin-bottom: 3px;
}

.cid-qBMIZDTb0R .carousel-caption {
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    display: flex;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cid-qBMIZDTb0R .mbr-overlay {
    z-index: 1;
}

.cid-qBMIZDTb0R .container-slide.container {
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
}

.cid-qBMIZDTb0R .carousel-item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -o-transition: -o-transform 0.6s ease-in-out;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media (max-width: 576px) {
    .cid-qBMIZDTb0R .carousel-item .container {
        width: 100%;
    }
}

.cid-qBMIZDTb0R .carousel-item-next.carousel-item-left,
.cid-qBMIZDTb0R .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cid-qBMIZDTb0R .active.carousel-item-right,
.cid-qBMIZDTb0R .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.cid-qBMIZDTb0R .active.carousel-item-left,
.cid-qBMIZDTb0R .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.cid-qBMIZDTb0R .mbr-slider .carousel-control {
    top: 50%;
    width: 70px;
    height: 70px;
    margin-top: -1.5rem;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all .3s;
}

    .cid-qBMIZDTb0R .mbr-slider .carousel-control.carousel-control-prev {
        left: 0;
        margin-left: 2.5rem;
    }

    .cid-qBMIZDTb0R .mbr-slider .carousel-control.carousel-control-next {
        right: 0;
        margin-right: 2.5rem;
    }

    .cid-qBMIZDTb0R .mbr-slider .carousel-control .mbr-iconfont {
        font-size: 2rem;
    }

@media (max-width: 767px) {
    .cid-qBMIZDTb0R .mbr-slider .carousel-control {
        top: auto;
        bottom: 1rem;
    }
}

.cid-qBMIZDTb0R .mbr-slider .carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem !important;
}

    .cid-qBMIZDTb0R .mbr-slider .carousel-indicators li {
        max-width: 20px;
        width: 20px;
        height: 20px;
        max-height: 20px;
        margin: 3px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;
        border-radius: 50%;
        opacity: .5;
        transition: all .3s;
    }

        .cid-qBMIZDTb0R .mbr-slider .carousel-indicators li.active,
        .cid-qBMIZDTb0R .mbr-slider .carousel-indicators li:hover {
            opacity: .9;
        }

        .cid-qBMIZDTb0R .mbr-slider .carousel-indicators li::after,
        .cid-qBMIZDTb0R .mbr-slider .carousel-indicators li::before {
            content: none;
        }

    .cid-qBMIZDTb0R .mbr-slider .carousel-indicators.ie-fix {
        left: 50%;
        display: block;
        width: 60%;
        margin-left: -30%;
        text-align: center;
    }

@media (max-width: 576px) {
    .cid-qBMIZDTb0R .mbr-slider .carousel-indicators {
        display: none !important;
    }
}

.cid-qBMIZDTb0R .mbr-slider > .container img {
    width: 100%;
}

    .cid-qBMIZDTb0R .mbr-slider > .container img + .row {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 2;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.cid-qBMIZDTb0R .mbr-slider > .container .carousel-indicators {
    margin-bottom: 3px;
}

@media (max-width: 576px) {
    .cid-qBMIZDTb0R .mbr-slider > .container .carousel-control {
        margin-bottom: 0;
    }
}

.cid-qBMIZDTb0R .mbr-slider .mbr-section {
    padding: 0;
    background-attachment: scroll;
}

.cid-qBMIZDTb0R .mbr-slider .mbr-table-cell {
    padding: 0;
}

.cid-qBMIZDTb0R .carousel-item .container.container-slide {
    position: initial;
    width: auto;
    min-height: 0;
}

.cid-qBMIZDTb0R .full-screen .slider-fullscreen-image {
    min-height: 90vh; /*Alex 100*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

    .cid-qBMIZDTb0R .full-screen .slider-fullscreen-image.active {
        display: -o-flex;
    }

.cid-qBMIZDTb0R .full-screen .container {
    width: auto;
    padding-right: 0;
    padding-left: 0;
}

.cid-qBMIZDTb0R .full-screen .carousel-item .container.container-slide {
    width: 100%;
    min-height: 90vh; /*Alex 100*/
    padding: 0;
}

    .cid-qBMIZDTb0R .full-screen .carousel-item .container.container-slide img {
        display: none;
    }

.cid-qBMIZDTb0R .mbr-background-video-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cid-qBMIZDTb0R .mbr-overlay ~ .container-slide {
    z-index: auto;
}

.cid-qBMIZDTb0R H2 {
    color: #232323;
}

.cid-qBMIZDTb0R P {
    color: #232323;
}

@media (min-width: 992px) {
    .cid-qBMIZDTb0R .full-screen .carousel-item .container.container-slide {
        width: 100%;
        min-height: 110vh;
        padding: 0;
    }
}