﻿body {
    font-family: 'Public Sans';    
}

@media (max-width: 567px) {
    .img-ralign {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .img-lalign {
        margin: 30px 0 20px 0;
        text-align: center;
    }
}

@media (min-width: 568px) {
    .img-ralign {
        margin: 30px 0 20px 0;
        text-align: right;
    }

    .img-lalign {
        margin: 30px 0 20px 0;
        text-align: left;
    }
}

.img-calign {
    margin: 30px 0 20px 0;
    text-align: center;
}

.btn-custom {
    background-color: #1dd2c1;
    color: #fff;
    border: #1dd2c1;
    border-radius: 16px;
    min-width: 110px;
}
    .btn-custom:hover {
        box-shadow:  inset 0 1px 0 rgba(255, 255, 255, 0.5);/*, 0 1px 1px rgb(0 0 0 / 8%);*/
        /*box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);*/
        /*background-color: #5EDFD3;*/
        background-color: #1dd2c1;
        color: #fff;
        border: #1dd2c1;
    }

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 20px;
}
 
 

@media (max-width: 467px) {
    .responsive-iframe {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 200px;
        margin: auto;
    }

    .imgMYS {
        width: 90%; 
    }
}


@media (min-width: 467px) {
    .responsive-iframe {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .imgMYS {
    }
}

 