﻿@model CareAssist.Models.HCPModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/healthclaim/favicon.ico">
    <title>MiCare - Care Assist Program</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/css/bootstrap/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/hcp.css" rel="stylesheet" />

    <!-- Mobirise Carousel-->
    <link rel="stylesheet" href="~/assets2/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets2/mobirise/css/mbr-additional.css" type="text/css">

    <script src="~/css/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">

</head>
<body style="background-color: #EFFCFB; font-family: 'Public Sans'">

    @using (Html.BeginForm("Consent", "HCP", FormMethod.Post, new { name = "consentForm", enctype = "multipart/form-data"}))
    {
    <div class="container-fluid">
        <input id="hidUUID" name="hidUUID" type="hidden" value="@ViewBag.UUID" />

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 img-calign">
                <img src="~/img/logo.png" />
            </div>
            @*<div class="col-lg-6 col-md-6 col-sm-6 img-ralign">
                <img src="~/img/PfizerLogo.png" />
            </div>*@
        </div>
        <div class="row" style="text-align: center; margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>
                    <span style="color: #34446E; font-weight: 700;"><b>CARE-ASSIST PROGRAM | ENROLMENT FORM </b></span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div id="panel-1" class="panel" style="border:solid #BEF2ED; border-radius: 16px; background-color: #ffffff;">
                    <div class="panel-container show">

                        <div class="panel-content">
                            <div class="row" style="text-align: center; margin: 30px 20px 30px 20px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cbConsent" name="hidIsConsent" runat="server" required="required"
                                                   oninvalid="setCustomValidity('You must agree before submitting')" onchange="try{setCustomValidity('')}catch(e){}">
                                            <label class="custom-control-label" for="cbConsent" style="text-align: justify; margin-right: 30px; font-size: 18px;">
                                                Please check this box to confirm that you understand & accept our <a style="color: #1dd2c1;" href="~/privacyPolicy.html" target="_blank">Privacy Policy</a> of use of website.
                                                By submitting this Form, you hereby agree that MiCare Sdn Bhd  may collect, obtain, store and process
                                                your personal data that you provide in this Form. The enrolment period is 
                                                @ViewBag.StartDay<sup>@ViewBag.SuffixStart</sup> @ViewBag.StartDate till @ViewBag.EndDay<sup>@ViewBag.SuffixEnd</sup> @ViewBag.EndDate.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin: 30px 20px 30px 20px;">
                                <div class="col col-lg-12 col-md-12 col-sm-12">
                                    <button class="btn btn-custom btn-block" title="Submit" type="submit">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

    </div>

       
    }
    <br />

    <footer style="margin-top: 50px;">
        <p class="span-footer text-center" style="font-size: 10px; padding-bottom: 15px; padding-top: 15px;">
            MiCare Sdn Bhd Copyright &copy; All Rights reserved. | <a class="span-footer" href="~/privacyPolicy.html" target="_blank">Privacy Policy</a>
        </p>
    </footer>
    <script type="text/javascript">

        $(document).ready(function () {

            if ($('#cbConsent').is(":checked")) {
                $('#cbConsent').val("1");
            }
            else {
                $('#cbConsent').val("0");
            }
        });

        $('#cbConsent').change(function () {
            if ($('#cbConsent').is(":checked")) {
                $('#cbConsent').val("1");
            }
            else {
                $('#cbConsent').val("0");
            }
        });

    </script>
    <script src="~/assets2/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets2/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets2/touchswipe/jquery.touch-swipe.min.js"></script>
</body>
</html>