﻿@model CareAssist.Models.HCPModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>MiCare - Care Assist Program</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/css/bootstrap/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/hcp.css" rel="stylesheet" />

    <!-- Mobirise Carousel-->
    <link rel="stylesheet" href="~/assets2/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets2/mobirise/css/mbr-additional.css" type="text/css">

    <script src="~/css/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="/css/vendors.bundle.css">*@
    <link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
</head>
<body style="background-color: #EFFCFB; font-family: 'Public Sans'">

    @using (Html.BeginForm("Enrolment", "HCP", FormMethod.Post, new { name = "enrolmentForm", enctype = "multipart/form-data" }))
    {
    <div class="container-fluid">
        <input id="hidUUID" name="hidUUID" type="hidden" value="@ViewBag.UUID" />
        <input id="hidIsConsent" name="hidIsConsent" type="hidden" value="@ViewBag.IsConsent" />
        <input id="hidClinicId" name="hidClinicId" type="hidden" value="@ViewBag.ClinicId" />
        <input id="hidClinicType" name="hidClinicType" type="hidden" value="@ViewBag.ClinicType" />
        <input id="programId" name="programId" type="hidden" value="@ViewBag.ProgramId" />
   
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 img-calign">
                <img src="~/img/logo.png" />
            </div>
            @*<div class="col-lg-6 col-md-6 col-sm-6 img-ralign">
                <img src="~/img/PfizerLogo.png" />
            </div>*@
        </div>
        <div class="row" style="text-align: center; margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>
                    <span style="color: #34446E; font-weight: 700;"><b>CARE-ASSIST PROGRAM | ENROLMENT FORM </b></span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div id="panel-1" class="panel" style="border:solid #BEF2ED; background-color: #ffffff; border-radius: 16px;">

                    <div class="panel-container show" style="margin: 10px;">
                        <div class="panel-content">
                            <div class="">
                                <h6 style="color: #1dd2c1; font-weight: 600;">HEALTHCARE PROVIDER ENROLMENT FORM</h6>
                                @*<strong style="color: #1dd2c1">HEALTHCARE PROVIDER ENROLMENT FORM</strong>*@
                            </div>
                        </div>
                        <div class="panel-content p-0">
                            <div class="panel-content">
                                <div class="form-row">
                                    <div class="col col-md-12 mb-3">
                                        <label class="form-label">Name Of Doctor In-Charge Of Healthcare Provider <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicPIC" name="clinicPIC" value="@ViewBag.ClinicPIC" class="form-control" type="text" required="required" maxlength="255">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col col-md-12 mb-3">
                                        <label class="form-label">Name Of Owner Of Healthcare Provider <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicOwner" name="clinicOwner" value="@ViewBag.ClinicOwner" class="form-control" type="text" required="required" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col col-md-12 mb-3">
                                        <label class="form-label">Name Of Healthcare Provider <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicName" name="clinicName" value="@ViewBag.ClinicName" class="form-control" type="text" required="required" maxlength="255">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col col-md-12 mb-3">
                                        <label class="form-label">Healthcare Provider Address <span style="COLOR:red">*</span></label>
                                        <textarea id="txtClinicAddress" name="clinicAddress" class="form-control" rows="3" required="required" maxlength="300">@ViewBag.ClinicAddress</textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Healthcare Provider Registration No <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicRegNo" name="clinicRegNo" value="@ViewBag.ClinicRegistrationNo" class="form-control" type="text" required="required" maxlength="100">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Healthcare Provider Telephone No <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicPhoneNo" name="clinicPhoneNo" value="@ViewBag.ContactNo" class="form-control" type="text" required="required" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Email Address (For All Communication On Care-Assist Program Only) <span style="COLOR:red">*</span></label>
                                        <input id="txtClinicEmail" name="clinicEmail" value="@ViewBag.EmailAddress" class="form-control" type="text" required="required" maxlength="200">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Zuellig Pharma Clinic Account No (For Care-Assist Program Use Only) <span style="COLOR:red">*</span></label>
                                        <input id="txtZpClinicAccountNo" name="zpClinicAccountNo" value="@ViewBag.ZPClinicAccountNo" class="form-control" type="text" required="required" maxlength="50">
                                    </div>
                                </div>

                                @*<div class="form-row">
                                    <div class="col col-md-12">
                                        <label class="form-label">List Of Medical Practitioners Practicing At Healthcare Provider <span style="COLOR:red">*</span></label>
                                    </div>
                                </div>

                                <div id="row1" class="row">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName1" name="doctorName[0]" class="form-control" type="text" required="required" placeholder="1." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnAdd1" class="btn" onclick="addRow('2')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row2" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName2" name="doctorName[1]" class="form-control" type="text" placeholder="2." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove2" class="btn" onclick="delRow('2')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd2" class="btn" onclick="addRow('3')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row3" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName3" name="doctorName[2]" class="form-control" type="text" placeholder="3." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove3" class="btn" onclick="delRow('3')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd3" class="btn" onclick="addRow('4')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row4" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName4" name="doctorName[3]" class="form-control" type="text" placeholder="4." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove4" class="btn" onclick="delRow('4')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd4" class="btn" onclick="addRow('5')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row5" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName5" name="doctorName[4]" class="form-control" type="text" placeholder="5." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove5" class="btn" onclick="delRow('5')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd5" class="btn" onclick="addRow('6')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row6" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName6" name="doctorName[5]" class="form-control" type="text" placeholder="6." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove6" class="btn" onclick="delRow('6')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd6" class="btn" onclick="addRow('7')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row7" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName7" name="doctorName[6]" class="form-control" type="text" placeholder="7." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove7" class="btn" onclick="delRow('7')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd7" class="btn" onclick="addRow('8')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row8" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName8" name="doctorName[7]" class="form-control" type="text" placeholder="8." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove8" class="btn" onclick="delRow('8')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd8" class="btn" onclick="addRow('9')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row9" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName9" name="doctorName[8]" class="form-control" type="text" placeholder="9." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove9" class="btn" onclick="delRow('9')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                        <button id="btnAdd9" class="btn" onclick="addRow('10')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="row10" class="row" style="display:none;">
                                    <div class="col col-md-9">
                                        <input id="txtDoctorName10" name="doctorName[9]" class="form-control" type="text" placeholder="10." maxlength="50">
                                    </div>
                                    <div class="col col-md-2">
                                        <button id="btnRemove10" class="btn" onclick="delRow('10')" style="COLOR: #1dd2c1" runat="server" type="button">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                    </div>
                                </div>*@


                                @*<div class="form-row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label class="form-label">Valid/ current annual practicing certificate for the above list of medical practitioners <span style="COLOR:red">*</span></label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadDoc1" name="uploadDoc1"
                                                       accept="application/pdf" required="required">
                                                <label id="lblFile" class="custom-file-label" for="uploadDoc1">Choose file...</label>
                                            </div>
                                            <span class="badge badge-danger">PDF only</span>
                                            <span class="badge badge-danger">Maximum File Size: 10MB</span>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 mb-3">
                                        <div class="form-group">
                                            @*<label class="form-label">Please submit the following document along with this completed Enrolment Form <span style="COLOR:red">*</span></label>*@
                                            <label class="form-label">Valid Form B issued by the Ministry of Health <span style="COLOR:red">*</span></label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadDoc2" name="uploadDoc2"
                                                       accept="application/pdf" required="required">
                                                <label id="lblFile2" class="custom-file-label" for="uploadDoc2">Choose file...</label>
                                            </div>
                                            <span class="badge badge-danger">PDF only</span>
                                            <span class="badge badge-danger">Maximum File Size: 10MB</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="panel-content">
                            <div>
                                <h6 style="color: #1dd2c1; font-weight: 600;">PAYMENT ENROLMENT FORM FOR DIRECT CREDIT TO BANK ACCOUNT</h6>
                                @*<strong style="color: #1dd2c1">PAYMENT ENROLMENT FORM FOR DIRECT CREDIT TO BANK ACCOUNT</strong>*@
                            </div>
                        </div>
                        <div class="panel-content p-0">
                            <div class="panel-content">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Name Of Bank <span style="COLOR:red">*</span></label>
                                        @Html.DropDownListFor(m => m.bankId, Model.BankLists, "-- Please Select --", new { @class = "custom-select form-control", @required = "required", @id = "ddlBank" })
                                        @Html.Hidden("bankName", null, new { @id = "hidBankName" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Complete Bank Address <span style="COLOR:red">*</span></label>
                                        <textarea id="txtBankAddress" name="bankAddress" class="form-control" rows="3" placeholder="" required="required" maxlength="300">@ViewBag.BankAddress</textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col col-md-12 mb-3">
                                        <label class="form-label">Payee Name (Important) <span style="COLOR:red">*</span></label>
                                        <input id="txtPayeeName" name="payeeName" value="@ViewBag.PayeeName" class="form-control" type="text" required="required" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Bank Account Number (Important) <span style="COLOR:red">*</span></label>
                                        <input name="bankAccountNo" class="form-control" value="@ViewBag.BankAccountNo" type="text" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Clinic SST Enrolment No (Where Applicable) </label>
                                        <input name="clinicSSTEnrolmentNo" class="form-control" value="@ViewBag.ClinicSSTEnrolmentNo" type="text" maxlength="50" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="panel-content">
                            <div class="">
                                <h6 style="color: #1dd2c1; font-weight: 600;">DECLARATION</h6>
                                @*<strong style="color: #1dd2c1">DECLARATION</strong>*@
                            </div>
                        </div>
                        <div class="panel-content p-0">
                            <div class="panel-content">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cbAgree" required="required">
                                        <label class="custom-control-label" for="cbAgree">I/ We confirm that the above details are correct and that the bank account belongs to me/ us <span style="COLOR:red">*</span></label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Name <span style="COLOR:red">*</span></label>
                                        <input name="applicantName" class="form-control" value="@ViewBag.ApplicantName" type="text" required="required" maxlength="100" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">NRIC <span style="COLOR:red">*</span></label>
                                        <input name="applicantNRIC" class="form-control" value="@ViewBag.ApplicantNRIC" type="text" required="required" maxlength="30" />
                                    </div>
                                </div>
                            </div>

                            <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
                                <button class="btn btn-custom ml-auto waves-effect waves-themed" type="submit">Submit</button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>


    </div>
    }
    <br />

    <footer>
        <p class="span-footer text-center" style="font-size: 10px; padding-bottom: 15px; padding-top: 15px;">
            MiCare Sdn Bhd Copyright &copy; All Rights reserved. | <a class="span-footer" href="~/privacyPolicy.html" target="_blank">Privacy Policy</a>
        </p>
    </footer>
    <script src="~/assets2/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets2/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets2/touchswipe/jquery.touch-swipe.min.js"></script>

    <script>
        $(document).ready(function () {

            window.addEventListener("pageshow", () => {
                $('input[type="file"]').val('');
                $('input[type="file"]').next(".custom-file-label").attr('data-content', '');
                $('input[type="file"]').next(".custom-file-label").text('Choose file...');
                $("#txtBankAddress").val('');
                $('#ddlBank').val('');
                //$('#cbAgree').val('');
                //$('#cbAgree').attr('checked', '');
            });

        });

        $("input[type=file]").change(function () {
            var fieldVal = $(this).val();

            // Change the node's value by removing the fake path (Chrome)
            fieldVal = fieldVal.replace("C:\\fakepath\\", "");

            if (fieldVal != undefined || fieldVal != "") {
                $(this).next(".custom-file-label").attr('data-content', fieldVal);
                $(this).next(".custom-file-label").text(fieldVal);
            }
        });

        $("body").on("change", "#ddlBank", function () {
            $("#hidBankName").val($(this).find("option:selected").text());
        });

        function addRow(rowId) {
            var rowName = "row" + rowId;
            var row = document.getElementById(rowName);
            var idx = parseInt(rowId) - 1;
            var btnId = "btnAdd" + idx.toString();

            if (row.style.display === "none") {
                row.style.display = "";
                document.getElementById(btnId).disabled = true;
                document.getElementById(btnId).style.cursor = "not-allowed";
            }
            return false;
        }
        function delRow(rowId) {
            var ctrlDoc = "txtDoctorName" + rowId;
            var docName = document.getElementById(ctrlDoc);
            var idx = parseInt(rowId) - 1;
            var btnId = "btnAdd" + idx.toString();

            var rowName = "row" + rowId;
            var row = document.getElementById(rowName);
            if (row.style.display === "") {
                row.style.display = "none";
                docName.value = "";
                document.getElementById(btnId).disabled = false;
                document.getElementById(btnId).style.cursor = "pointer";
            }
            return false;
        }

        //$('#uploadDoc1').bind('change', function () {
        //    var filetype = $(this)[0].files[0].name;
        //    if (filetype != '') {
        //        var filetype = filetype.toLowerCase();
        //        if (!filetype.match(/(\.pdf)$/)) {
        //            $("#uploadDoc1").val('');
        //            $("#lblFile").text('Choose file...');
        //            alert('Wrong file selected. PDF file format only');
        //        }
        //    }
        //});

        $('#uploadDoc2').bind('change', function () {
            var filetype = $(this)[0].files[0].name;
            if (filetype != '') {
                var filetype = filetype.toLowerCase();
                if (!filetype.match(/(\.pdf)$/)) {
                    $("#uploadDoc2").val('');
                    $("#lblFile2").text('Choose file...');
                    alert('Wrong file selected. PDF file format only');
                }
            }
        });
    </script>
</body>
</html>