﻿@model CareAssist.Models.HCPModel
@{
    Layout = null;
    //var message = Html.Raw(TempData["successMsg"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/healthclaim/favicon.ico">
    <title>MiCare - Care Assist Program</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/css/bootstrap/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/hcp.css" rel="stylesheet" />

    <!-- Mobirise Carousel-->
    <link rel="stylesheet" href="~/assets2/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets2/mobirise/css/mbr-additional.css" type="text/css">

    <script src="~/css/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link id="appbundle" rel="stylesheet" media="screen, print" href="/css/app.bundle.css">
</head>
 
<body style="background-color: #EFFCFB; font-family: 'Public Sans'">
    <div class="container-fluid">

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 img-calign">
                <img src="~/img/logo.png" />
            </div>
            @*<div class="col-lg-6 col-md-6 col-sm-6 img-ralign">
                <img src="~/img/PfizerLogo.png" />
            </div>*@
        </div>
        <div class="row" style="text-align: center; margin-bottom: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>
                    <span style="color: #34446E; font-weight: 700;"><b>CARE-ASSIST PROGRAM | ENROLMENT FORM </b></span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div id="panel-1" class="panel" style="border:solid #BEF2ED; border-radius: 16px; background-color: #ffffff;">
                    <div class="panel-container show">

                        <div class="panel-content">
                            <div class="row" style="text-align: center; margin: 30px 20px 30px 20px;">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="font-size: 18px;">
                                    <label>Your Care-Assist enrolment has been submitted. Please allow us to process this enrolment and keep you informed on the status soonest possible. </label>
                                    <br /><br /><br />
                                    <label>You may close this page. </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

    </div>

    <footer style="margin-top: 50px;">
        <p class="span-footer text-center" style="font-size: 10px; padding-bottom: 15px; padding-top: 15px;">
            MiCare Sdn Bhd Copyright &copy; All Rights reserved. | <a class="span-footer" href="~/privacyPolicy.html" target="_blank">Privacy Policy</a>
        </p>
    </footer>

</body>
</html>