﻿@font-face {
    font-family: ('Monsterrat-Bold');
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts//montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: ('Monsterrat-ExtraBold');
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: ('Monsterrat-Light');
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: ('Monsterrat-Medium');
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: ('Monsterrat-Regular');
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Monsterrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: ('Helvetica');
    src: url(../fonts/Helvetica.ttc) format('truetype');
}

@font-face {
    font-family: ('Butler-ExtraBold');
    src: url('../fonts/Butler_ExtraBold.woff') format('woff'), url('../fonts/Butler_ExtraBold.otf') format('opentype');
    font-weight: bolder;
}




